@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.homepage-header {
    display: flex;
    background: rgb(17,40,89);
    background-image: linear-gradient(to bottom, #ffd700, #cda500);
    padding: 16px;
}

.homepage-header-facebook {
    display: flex;
    align-items: center;
    color: #2D132C;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
        color: #1877F2;
    }
}

.homepage-header-whatsapp {
    display: flex;
    margin-left: auto;
    align-items: center;
    text-decoration: none;
    color: #2D132C;

    &:hover {
        text-decoration: underline;
        color: #0ea345;
    }
}