@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "~bootstrap/scss/bootstrap";

.homepage-main {
    height:100vh;
    font-family: 'Lato', sans-serif;
    background: rgb(50,5,62);
    background: linear-gradient(131deg, rgba(50,5,62,1) 12%, rgba(57,3,92,1) 65%, rgba(75,1,125,1) 100%); 
}

.banner-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}