@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "~bootstrap/scss/bootstrap";

.homepage-main {
    height:300vh;
    font-family: 'Lato', sans-serif;
    background: white; 
    color: #2D132C;
}

.banner-container {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.most-popular-text {
    padding: 2rem;
}